
.dropdown{
    margin-left: 5%;
}

.loginArea {
	float: right;
	margin-right: 5%;
}

.loginArea form {
	font-size: 12pt;
	color: white;
}

.loginArea form input {
	max-width: 60px;
	font-size: 8pt;
}

#navBar {
    background-color: #800000;
    height: 4em;
}

#rha-image {
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
}

#rha-image, #links, #login-button{
    display: inline-block;
}

#login-button{
    background: none;
    border: none;
    color: white;
    vertical-align: middle;
    height: 100%;
    cursor: pointer;
}

#links{
    text-align: center;
    width: 80%;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    text-decoration: none;
}


/* Dropdown Button */
.dropbtn {
	background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border-top: 1px solid #800000;
	border-bottom: 1px solid #800000;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}