
.dropdown{
    margin-left: 5%;
}

.loginArea {
	float: right;
	margin-right: 5%;
}

.loginArea form {
	font-size: 12pt;
	color: white;
}

.loginArea form input {
	max-width: 60px;
	font-size: 8pt;
}

#navBar {
    background-color: #800000;
    height: 4em;
}

#rha-image {
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
}

#rha-image, #links{
    display: inline-block;
}

#links{
    text-align: center;
    width: 80%;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    text-decoration: none;
}


#navBar ul li {
    display: inline-block;
	color: black;
	font-size: 16pt;
}

#navBar ul li a {
	color: white;
}

#navBar ul li ul li {
  border: 2px solid #800000;
  display: block;
}


#navBar ul {
  display: inline;
}

#navBar  ul li {
    display: inline-block;
}

 #navBar  ul li:hover ul {
    display: block;
}

#navBar ul li ul {
  position: absolute;
  width: 200px;
  /*display: none;*/
}

#navBar ul li ul li:hover {
    background: #666;
}