
.moneyTable, .tableEntry {
   border: 1;
   padding: 5px;
   bordercolor: #808080
}

#tables table {
    padding: 2%;
    display: inline-block;
    float: left;
}

#notAdminMsg {
    display: none;
    text-align: center;
}

.colLight {
    background: #ffffff;
}

.colDark {
    background: #f0f0f0;
}