
#sidebar {
	position: relative;
	color: #ffffff;
	border-radius: 3px;
	border: 3px solid #000000;
	background-color: #800000;
	margin-top: 5px;
	text-align: center; 
	width: 28%;
	float: right;
}

#upcomingEvents {
	border-top-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	max-height: 400px;
	text-align: left;
	overflow-y: scroll;
}

.event {
	border: 2px solid black;
	text-decoration: none;
	border-radius: 10px;
	background-color: #404040;
	position: relative;
	width: 95%;
	margin-left: 2%;
	margin-top: 2.5%;
}

.event :hover {
	background-color: #a0a0a0;
	border-radius: 10px;
}

.eventText {
	text-decoration: none;
}

.event h2 {
	text-decoration: none;
	text-align: center;
	font-size: 16pt;
	color: white;
}
.event p {
	text-decoration: none;
	font-size: 12pt;
	color: white;
}


.event a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
}
